DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=advance_technology
DB_SSL=false
CLOUDINARY_CLOUD_NAME=demo-cloud
CLOUDINARY_API_KEY=demo-key
CLOUDINARY_API_SECRET=demo-secret
PORT=3001
